<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <hr>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-header'>
            <h2>Payment details</h2>
        </div>
        <a class='ng-modal-close' ng-click='hideModal()'>×</a>
        <div class='ng-modal-dialog-content' ng-transclude></div>
        <div class='ng-modal-dialog-footer'>
            <button class="btn btn-ok" ng-click="hideModal()">OK</button>
        </div>
    </div>
</div>